.yelow {
  color: #d6c994;
  font-size: 21px;
  font-weight: 500;
  margin: 50px;
}

.btn {
  padding: 30px 60px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 40px;
  border: none;
}

.content {
  grid-column: 2/12;
}

.img {
  width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

@media (max-width: 540px) {
  .btn {
    padding: 15px 30px;
  }

  .img {
    margin-top: 30px;
  }
}
