.main {
  padding: 20px 70px;
  justify-content: space-between;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.open {
  padding-bottom: 100%;
}

.logo {
  width: 106px;
  align-items: center;
}

.social {
  display: flex;
  gap: 12px;
}

.burger {
  display: flex;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
  margin-right: 86px;
}

.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #ffffff;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.active span {
  transform: scale(0);
}

.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.nav {
  position: fixed;
  top: 146px;
  left: 0;
  background-color: black;
  width: 100%;
  z-index: 1000;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 100vh;
}

.navLink {
  color: white;
  margin-bottom: 30px;
  font-size: 33px;
  font-weight: 300;
  text-decoration: none;
}

.activeLink {
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

/* Добавляем анимацию */
@keyframes slideIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.burger,
.logo {
  animation: slideIn 0.8s ease forwards;
}

.nav {
  animation: slideIn 0.3s ease forwards;
}

@media (max-width: 1025px) {
  .social {
    display: none;
  }
}

@media (max-width: 500px) {
  .main {
    padding: 20px 30px;
  }

  .navLink {
    font-size: 23px;
  }
}
